#title {
    text-align: center;
    margin-top: 30px;
}
input {
    font-size: 16px;
    height: 40px;
    min-width: 300px;
    padding: 10px;
}
button {
    height: 40px;
    min-width: 200px;
    border: none;
    background: steelblue;
    color: #fff;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
form {
    width: 100%;
    padding: 30px;
    margin: 60px 0;
    float: left;
    background: lightblue;
}
.form-field {
    max-width: 50%;
    float: left;
}
.error, .form-field-invalid .input-element, .warn .input-element {
    color: white !important;
    border-bottom-color: white !important;
}
.focused .placeholder {
    color: white;
}
::ng-deep .form-field.form-field-appearance-legacy .form-field-underline,
.form-field.form-field-appearance-legacy .form-field-ripple,
.form-field.form-field-appearance-legacy.focused
    .form-field-underline,
.form-field.form-field-appearance-legacy.focused
    .form-field-ripple {
    background-color: white !important;
    border-bottom-color: white !important;
}
/** Overrides label color **/
::ng-deep .form-field.form-field-appearance-legacy .form-field-label,
.form-field.form-field-appearance-legacy.focused
    .form-field-label {
    color: white !important;
    border-bottom-color: white !important;
}
/** Overrides caret & text color **/
::ng-deep .form-field.form-field-appearance-legacy .input-element {
    caret-color: white !important;
    color: white !important;
    border-bottom-color: white !important;
}
::ng-deep .form-field-underline, ::ng-deep .form-field-ripple {
    background-color: white !important;
}